<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        <div class="container mb-100">
            {{ "<!-- navigation -->" | safeHTML }}
            {{ partial "navigation.html" . }}
            {{ "<!-- /navigation -->" | safeHTML }}
        </div>

        <section class="faq-hero bg-pale-blue">
            <div class="container">
                <div class="row justify-content-center">
                    {{ partial "banner.html" . }}
                </div>
            </div>
        </section>

        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}


    </body>
</html>