{{ define "main" }}

<section class="single pt-5 bg-gray">
  <div class="container" id="breadcrumbsDesk" style="font-size: 1.5rem;">
    <div id="breadcrumbs" style="color:grey;">
      <a href="{{ .Site.BaseURL  }}">{{with .Site.Params.breadcrumbs.home}}{{ . }}{{ end }}</a>
      &#187;
      <a href="{{ .Site.BaseURL }}">{{with .Site.Params.breadcrumbs.docs}}{{ . }}{{ end }}</a>
      &#187;
      <span style="color:black;">{{ index (split .Title " > ") 1 }}</span>
    </div>
  </div>
</section>

{{ "<!-- details page -->" | safeHTML }}
<section class="single section section1 bg-gray pb-0" style="padding-top: 30px !important;">
  <div class="container">
    <div class="row">
      <div class="col-lg-9" style="margin-bottom:20px">
        <div class="p-5 bg-white">
          <h2 style="font-size: 32px;font-weight: 300;line-height: 1.2;">{{ index (split .Title " > ") 1 }}</h2>
          {{ if or (eq (index (split .Title " > ") 1) "Web Monitor") (eq (index (split .Title " > ") 1) "Aidez-moi") (eq (index (split .Title " > ") 1) "Ayuda") }}
          <div class="listCollapse">
            <h4 class="panel-title" data-toggle="collapse" data-target="#gettingStarted" aria-expanded="true" style="padding-top: 1.5rem !important;">
              Getting Started
            </h4>
            <ul id="gettingStarted" class="collapse show list-unstyled list-ul article-section">
              {{ range (where .Site.Pages "Type" "Getting Started") }}
              <li><a class="listContent" href="{{ .Permalink }}">{{ index (split .Title " > ") 1 }}</a></li>
              {{ end }}
            </ul>
          </div>
          <div class="listCollapse">
            <h4 class="panel-title" data-toggle="collapse" data-target="#basics" aria-expanded="true">Basics<div class="expand_caret caret"></div>
            </h4>
            <ul id="basics" class="collapse show list-unstyled list-ul article-section">
              {{ range (where .Site.Pages "Type" "Basics") }}
              <li><a class="listContent" href="{{ .Permalink }}">{{ index (split .Title " > ") 1 }}</a></li>
              {{ end }}
            </ul>
          </div>
          <div class="listCollapse">
            <h4 class="panel-title" data-toggle="collapse" data-target="#features" aria-expanded="true">Features<div class="expand_caret caret"></div>
            </h4>
            <ul id="features" class="collapse show list-unstyled list-ul article-section">
              {{ range (where .Site.Pages "Type" "Features") }}
              <li><a class="listContent" href="{{ .Permalink }}">{{ index (split .Title " > ") 1 }}</a></li>
              {{ end }}
            </ul>
          </div>
          <div class="listCollapse">
            <h4 class="panel-title" data-toggle="collapse" data-target="#faq" aria-expanded="true">FAQ<div class="expand_caret caret"></div>
            </h4>
            <ul id="faq" class="collapse show list-unstyled list-ul article-section">
              {{ range (where .Site.Pages "Type" "FAQ") }}
              <li><a class="listContent" href="{{ .Permalink }}">{{ index (split .Title " > ") 1 }}</a></li>
              {{ end }}
            </ul>
          </div>
          {{ else if or (eq (index (split .Title " > ") 1) "Web Extractor") }}
          <div class="listCollapse">
            <h4 class="panel-title" data-toggle="collapse" data-target="#gettingStarted" aria-expanded="true" style="padding-top: 1.5rem !important;">
              Getting Started
            </h4>
            <ul id="gettingStarted" class="collapse show list-unstyled list-ul article-section">
              {{ range (where .Site.Pages "Type" "extractor-getting-started") }}
              <li><a class="listContent" href="{{ .Permalink }}">{{ index (split .Title " > ") 1 }}</a></li>
              {{ end }}
            </ul>
          </div>
          <div class="listCollapse">
            <h4 class="panel-title" data-toggle="collapse" data-target="#gettingStarted" aria-expanded="true" style="padding-top: 1.5rem !important;">
              Configurator Module
            </h4>
            <ul id="gettingStarted" class="collapse show list-unstyled list-ul article-section">
              {{ range (where .Site.Pages "Type" "extractor-configurator") }}
              <li><a class="listContent" href="{{ .Permalink }}">{{ index (split .Title " > ") 1 }}</a></li>
              {{ end }}
            </ul>
          </div>
          <div class="listCollapse">
            <h4 class="panel-title" data-toggle="collapse" data-target="#gettingStarted" aria-expanded="true" style="padding-top: 1.5rem !important;">
              Scraper Module
            </h4>
            <ul id="gettingStarted" class="collapse show list-unstyled list-ul article-section">
              {{ range (where .Site.Pages "Type" "extractor-scraper") }}
              <li><a class="listContent" href="{{ .Permalink }}">{{ index (split .Title " > ") 1 }}</a></li>
              {{ end }}
            </ul>
          </div>
          <div class="listCollapse">
            <h4 class="panel-title" data-toggle="collapse" data-target="#gettingStarted" aria-expanded="true" style="padding-top: 1.5rem !important;">
              Scripts Module
            </h4>
            <ul id="gettingStarted" class="collapse show list-unstyled list-ul article-section">
              {{ range (where .Site.Pages "Type" "extractor-script") }}
              <li><a class="listContent" href="{{ .Permalink }}">{{ index (split .Title " > ") 1 }}</a></li>
              {{ end }}
            </ul>
          </div>
          <div class="listCollapse">
            <h4 class="panel-title" data-toggle="collapse" data-target="#gettingStarted" aria-expanded="true" style="padding-top: 1.5rem !important;">
              Tutorials
            </h4>
            <ul id="gettingStarted" class="collapse show list-unstyled list-ul article-section">
              {{ range (where .Site.Pages "Type" "extractor-tutorials") }}
              <li><a class="listContent" href="{{ .Permalink }}">{{ index (split .Title " > ") 1 }}</a></li>
              {{ end }}
            </ul>
          </div>
          {{ else }}
          {{ if or (eq (index (split .Title " > ") 1) "Guides") (eq (index (split .Title " > ") 1) "Des guides") (eq (index (split .Title " > ") 1) "Guías") }}
          <div class="p-4">
            <ul class="list-unstyled list-ul article-section" style="padding-left: 0;">
              {{ range (where .Site.Pages "Type" "Guides") }}
              <li><a class="listContent" href="{{ .Permalink }}">{{ index (split .Title " > ") 1 }}</a></li>
              {{ end }}
            </ul>
          </div>
          {{ else }}
          {{ if or (eq (index (split .Title " > ") 1) "Use Cases") (eq (index (split .Title " > ") 1) "Cas d'utilisation") (eq (index (split .Title " > ") 1) "Casos de uso") }}
          <div class="p-4">
            <ul class="list-unstyled list-ul article-section" style="padding-left: 0;">
              {{ range (where .Site.Pages "Type" "Use Cases") }}
              <li><a class="listContent" href="{{ .Permalink }}">{{ index (split .Title " > ") 1 }}</a></li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="col-lg-3" style="margin-bottom:20px">
        <div class="mb-5 bg-white p-4" style="padding-left: 35px !important;">
          {{with .Site.Params.topics.topics}} <h4 style="font-size: 24px;line-height: 1.2;font-weight: 700;margin-bottom: 15px;" class="mb-4">{{ . }}</h4> {{ end }}
          <ul class="list-unstyled list-ul" style="padding-left: 0;margin-bottom: 20px !important;list-style-type: none; margin: 0;">
            {{ $title := .Title }}
            {{ range (where .Site.Pages "Type" "pages") }}
            {{ if ne .Title $title }}
            <li style="padding-left: 12px;position: relative;"><a class="listContent" href="{{ .Permalink }}">{{ index (split .Title " > ") 1 }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
{{ "<!-- /details page -->" | safeHTML }}

{{ end }}