{{ "<!-- banner -->" | safeHTML }}
<div class="container">
  <div class="row">
    <div class="col-lg-9 text-center mx-auto">
      <h1 class="mb-3">{{with .Site.Params.banner.title }}{{ . }}{{ end }}</h1>
      <p style="opacity: .8; padding-bottom: 1rem;" class="mb-4">{{with .Site.Params.banner.description }}{{ . }}{{ end }}</p>
      <div class="position-relative">
        <input id="search" class="form-control" placeholder="{{ .Site.Params.banner.placeholder }}">
        <!-- Javascript -->
        <script>
          $(function() {
              var projects = [
                  {{ range .Data.Pages }}
                      {
                          value: "{{ index (split .Title " > ") 1 }}",
                          label: "{{ index (split .Title " > ") 1 }}",
                          url:"{{ .Permalink }}"
                      },
                  {{ end }}
              ];
              $( "#search" ).autocomplete({
                  minLength: 0,
                  source: function(request, response) {
                      var results = $.ui.autocomplete.filter(projects, request.term);  
                      response(results.slice(0, 10));
                  },
                  select: function( event, ui ) {
                      $( "#search" ).val( ui.item.label );
                      $( "#project-id" ).val( ui.item.value );
                      return false;
                  }
              })
              .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                  return $( "<li>" )
                  .append( "<a href=" + item.url + " + \" &quot;\" +  >" + item.label + "</a>" )
                  .appendTo( ul );
              };
          });
        </script>
      </div>
    </div>
  </div>
</div>
{{ "<!-- /banner -->" | safeHTML }}