{{ "<!-- features -->" | safeHTML }}
<section class="feature-section nav-tab-section my-5 py-5" id="others">
  <div class="container">
    <div class="row txt-center justify-content-center">
      <div class="col-12 col-md-10"><h2>{{.Params.featurestitle}}</h2></div>
      {{ range .Params.features2 }}
      <div class="col-6 col-sm-4 col-md-3 mr-t-120">
        <div class="icon-title-block">
          <img src="{{.img}}" alt="Feature Icon" class="it-icon" />
          <p class="title">{{.desc}}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="pricing-table-wrapper">
  <div class="ct-header-wrapper-faux"></div>
  <div class="ct-header-wrapper">
    <div class="container ct-header-container">
      <div class="row">
        <div class="col-sm-12">
          <div class="ct-header">
            <div class="ct-row">
              <div class="ct-cell txt-center">
                <h4>Free</h4>
                <p class="h4 txt-green">
                  $<span data-monthly-price="0" data-annual-price="0">0</span>
                </p>
                <p class="p-small mr-b-10">
                  Best for testing and non-essential use
                </p>
              </div>
              <div class="ct-cell txt-center">
                <h4>Starter</h4>
                <p class="h4 txt-green">
                  $<span data-monthly-price="15" data-annual-price="12">15</span
                  ><span data-mon-period="/mon" data-yr-period="/mon (yearly)"
                    >/mon</span
                  >
                </p>
                <p class="p-small mr-b-10">Ideal for individual usage</p>
              </div>
              <div class="ct-cell txt-center">
                <h4 class="pro-plan-title"><span>Professional</span></h4>
                <p class="h4 txt-green">
                  $<span data-monthly-price="35" data-annual-price="28">35</span
                  ><span data-mon-period="/mon" data-yr-period="/mon (yearly)"
                    >/mon</span
                  >
                </p>
                <p class="p-small mr-b-10">
                  Ideal for advanced individual usage
                </p>
              </div>
              <div class="ct-cell txt-center">
                <h4>Flexi</h4>
                <p class="h4 txt-green">
                  $<span data-monthly-price="80" data-annual-price="80">80</span
                  >+<span data-mon-period="/mon" data-yr-period="/mon"
                    >/mon</span
                  >
                </p>
                <p class="p-small mr-b-10">Ideal for scale and fast updates</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container ct-body-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="pricing-table">
          <div
            class="ct-body js-badger-accordion badger-accordion--initialized"
            role="presentation"
          >
            <div class="ct-row">
              <div class="ct-cell ct-collapse-group">
                <div
                  class="ct-cell-toggle js-badger-accordion-header"
                  id="badger-accordion-header-731210"
                  aria-controls="badger-accordion-panel-731210"
                  aria-label="Open accordion panel"
                  data-badger-accordion-header-id="0"
                  aria-expanded="false"
                >
                  <p class="ct-cell-text">Monitors</p>
                </div>
                <div
                  class="badger-accordion__panel js-badger-accordion-panel -ba-is-hidden"
                  id="badger-accordion-panel-731210"
                  aria-labeledby="badger-accordion-header-731210"
                  role="region"
                  style="max-height: 119px"
                >
                  <div
                    class="badger-accordion-inner-contents js-badger-accordion-panel-inner"
                  >
                    <p>
                      Run checks on our servers, so you get updates 24 x 7. Run
                      checks using browser to get ultra fast checks. Limited
                      monitors available, based on your plan.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-option">
                  <p>25</p>
                  <div class="subtext">(5 in cloud)</div>
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>50</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>150</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>500+</p></div>
              </div>
            </div>
            <div class="ct-row">
              <div class="ct-cell ct-collapse-group">
                <div
                  class="ct-cell-toggle js-badger-accordion-header"
                  id="badger-accordion-header-151221"
                  aria-controls="badger-accordion-panel-151221"
                  aria-label="Open accordion panel"
                  data-badger-accordion-header-id="1"
                  aria-expanded="false"
                >
                  <p class="ct-cell-text">Minimum Interval in cloud</p>
                </div>
                <div
                  class="badger-accordion__panel js-badger-accordion-panel -ba-is-hidden"
                  id="badger-accordion-panel-151221"
                  aria-labeledby="badger-accordion-header-151221"
                  role="region"
                  style="max-height: 119px"
                >
                  <div
                    class="badger-accordion-inner-contents js-badger-accordion-panel-inner"
                  >
                    <p>
                      The frequency at which checks happen for changes in cloud.
                      Can be set for local Monitors, with intervals from 5
                      seconds onwards.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>6 hours</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>10 minutes</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>5 minutes</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>2 minutes</p></div>
              </div>
            </div>
            <div class="ct-row">
              <div class="ct-cell ct-collapse-group">
                <div
                  class="ct-cell-toggle js-badger-accordion-header"
                  id="badger-accordion-header-580433"
                  aria-controls="badger-accordion-panel-580433"
                  aria-label="Open accordion panel"
                  data-badger-accordion-header-id="2"
                  aria-expanded="false"
                >
                  <p class="ct-cell-text">Checks/month in cloud</p>
                </div>
                <div
                  class="badger-accordion__panel js-badger-accordion-panel -ba-is-hidden"
                  id="badger-accordion-panel-580433"
                  aria-labeledby="badger-accordion-header-580433"
                  role="region"
                  style="max-height: 67px"
                >
                  <div
                    class="badger-accordion-inner-contents js-badger-accordion-panel-inner"
                  >
                    <p>
                      The number of checks for changes for all cloud monitors
                      per month.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>1000</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>30,000</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>100,000</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>200,000+</p></div>
              </div>
            </div>
            <div class="ct-row">
              <div class="ct-cell ct-collapse-group">
                <div
                  class="ct-cell-toggle js-badger-accordion-header"
                  id="badger-accordion-header-50306"
                  aria-controls="badger-accordion-panel-50306"
                  aria-label="Open accordion panel"
                  data-badger-accordion-header-id="3"
                  aria-expanded="false"
                >
                  <p class="ct-cell-text">Number of Devices</p>
                </div>
                <div
                  class="badger-accordion__panel js-badger-accordion-panel -ba-is-hidden"
                  id="badger-accordion-panel-50306"
                  aria-labeledby="badger-accordion-header-50306"
                  role="region"
                  style="max-height: 67px"
                >
                  <div
                    class="badger-accordion-inner-contents js-badger-accordion-panel-inner"
                  >
                    <p>
                      The number of devices that one can install Distill's apps
                      on and sign-in to
                    </p>
                  </div>
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>2</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>3</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>3</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>4+</p></div>
              </div>
            </div>
            <div class="ct-row">
              <div class="ct-cell ct-collapse-group">
                <div
                  class="ct-cell-toggle js-badger-accordion-header"
                  id="badger-accordion-header-942771"
                  aria-controls="badger-accordion-panel-942771"
                  aria-label="Open accordion panel"
                  data-badger-accordion-header-id="4"
                  aria-expanded="false"
                >
                  <p class="ct-cell-text">Webhook &amp; Emails Alerts</p>
                </div>
                <div
                  class="badger-accordion__panel js-badger-accordion-panel -ba-is-hidden"
                  id="badger-accordion-panel-942771"
                  aria-labeledby="badger-accordion-header-942771"
                  role="region"
                  style="max-height: 93px"
                >
                  <div
                    class="badger-accordion-inner-contents js-badger-accordion-panel-inner"
                  >
                    <p>
                      The number of email alerts that can be sent out for
                      changes in monitors, per month.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-option">
                  <p>30/mon</p>
                  <div class="subtext">(email only)</div>
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>2000/mon</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>Unlimited</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>Unlimited</p></div>
              </div>
            </div>
            <div class="ct-row">
              <div class="ct-cell ct-collapse-group">
                <div
                  class="ct-cell-toggle js-badger-accordion-header"
                  id="badger-accordion-header-182"
                  aria-controls="badger-accordion-panel-182"
                  aria-label="Open accordion panel"
                  data-badger-accordion-header-id="5"
                  aria-expanded="false"
                >
                  <p class="ct-cell-text">Phone Push Notifications</p>
                </div>
                <div
                  class="badger-accordion__panel js-badger-accordion-panel -ba-is-hidden"
                  id="badger-accordion-panel-182"
                  aria-labeledby="badger-accordion-header-182"
                  role="region"
                  style="max-height: 93px"
                >
                  <div
                    class="badger-accordion-inner-contents js-badger-accordion-panel-inner"
                  >
                    <p>
                      The number of browser push notifications that can be sent
                      out for changes in monitors, per month.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p class="txt-red">N/A</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>Unlimited</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>Unlimited</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>Unlimited</p></div>
              </div>
            </div>
            <div class="ct-row">
              <div class="ct-cell ct-collapse-group">
                <div
                  class="ct-cell-toggle js-badger-accordion-header"
                  id="badger-accordion-header-489095"
                  aria-controls="badger-accordion-panel-489095"
                  aria-label="Open accordion panel"
                  data-badger-accordion-header-id="6"
                  aria-expanded="false"
                >
                  <p class="ct-cell-text">SMS Notifications</p>
                </div>
                <div
                  class="badger-accordion__panel js-badger-accordion-panel -ba-is-hidden"
                  id="badger-accordion-panel-489095"
                  aria-labeledby="badger-accordion-header-489095"
                  role="region"
                  style="max-height: 93px"
                >
                  <div
                    class="badger-accordion-inner-contents js-badger-accordion-panel-inner"
                  >
                    <p>
                      The number of sms based notifications that can be sent out
                      for changes in monitors, per month.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p class="txt-red">N/A</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>100/mon</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>250/mon</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>500+/mon</p></div>
              </div>
            </div>
            <div class="ct-row">
              <div class="ct-cell ct-collapse-group">
                <div
                  class="ct-cell-toggle js-badger-accordion-header"
                  id="badger-accordion-header-739480"
                  aria-controls="badger-accordion-panel-739480"
                  aria-label="Open accordion panel"
                  data-badger-accordion-header-id="7"
                  aria-expanded="false"
                >
                  <p class="ct-cell-text">Profiles</p>
                </div>
                <div
                  class="badger-accordion__panel js-badger-accordion-panel -ba-is-hidden"
                  id="badger-accordion-panel-739480"
                  aria-labeledby="badger-accordion-header-739480"
                  role="region"
                  style="max-height: 93px"
                >
                  <div
                    class="badger-accordion-inner-contents js-badger-accordion-panel-inner"
                  >
                    <p>
                      Use profiles to monitor pages that require cookies or
                      authentication in cloud using Distill's servers
                    </p>
                  </div>
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p class="txt-red">N/A</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>2</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>10</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>100</p></div>
              </div>
            </div>
            <div class="ct-row">
              <div class="ct-cell ct-collapse-group">
                <div
                  class="ct-cell-toggle js-badger-accordion-header"
                  id="badger-accordion-header-335793"
                  aria-controls="badger-accordion-panel-335793"
                  aria-label="Open accordion panel"
                  data-badger-accordion-header-id="8"
                  aria-expanded="false"
                >
                  <p class="ct-cell-text">Macros</p>
                </div>
                <div
                  class="badger-accordion__panel js-badger-accordion-panel -ba-is-hidden"
                  id="badger-accordion-panel-335793"
                  aria-labeledby="badger-accordion-header-335793"
                  role="region"
                  style="max-height: 67px"
                >
                  <div
                    class="badger-accordion-inner-contents js-badger-accordion-panel-inner"
                  >
                    <p>
                      Perform actions before monitoring a page in cloud using
                      Distill's servers
                    </p>
                  </div>
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p class="txt-red">N/A</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p class="txt-red">N/A</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>Available</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>Available</p></div>
              </div>
            </div>
            <div class="ct-row">
              <div class="ct-cell ct-collapse-group">
                <div
                  class="ct-cell-toggle js-badger-accordion-header"
                  id="badger-accordion-header-446202"
                  aria-controls="badger-accordion-panel-446202"
                  aria-label="Open accordion panel"
                  data-badger-accordion-header-id="9"
                  aria-expanded="false"
                >
                  <p class="ct-cell-text">Version History</p>
                </div>
                <div
                  class="badger-accordion__panel js-badger-accordion-panel -ba-is-hidden"
                  id="badger-accordion-panel-446202"
                  aria-labeledby="badger-accordion-header-446202"
                  role="region"
                  style="max-height: 67px"
                >
                  <div
                    class="badger-accordion-inner-contents js-badger-accordion-panel-inner"
                  >
                    <p>
                      The number of changes being tracked by a monitor logged
                      into history.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p class="txt-red">N/A</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>10</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>20</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p>20</p></div>
              </div>
            </div>
            <div class="ct-row">
              <div class="ct-cell ct-collapse-group">
                <div
                  class="ct-cell-toggle js-badger-accordion-header"
                  id="badger-accordion-header-302472"
                  aria-controls="badger-accordion-panel-302472"
                  aria-label="Open accordion panel"
                  data-badger-accordion-header-id="10"
                  aria-expanded="false"
                >
                  <p class="ct-cell-text">More Resources</p>
                </div>
                <div
                  class="badger-accordion__panel js-badger-accordion-panel -ba-is-hidden"
                  id="badger-accordion-panel-302472"
                  aria-labeledby="badger-accordion-header-302472"
                  role="region"
                  style="max-height: 67px"
                >
                  <div
                    class="badger-accordion-inner-contents js-badger-accordion-panel-inner"
                  >
                    <p>Additional resources available only for Flexi Plan.</p>
                  </div>
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p class="txt-red">N/A</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p class="txt-red">N/A</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><p class="txt-red">N/A</p></div>
              </div>
              <div class="ct-cell">
                <div class="ct-option"><a href="#flexi">Learn More</a></div>
              </div>
            </div>
          </div>
          <div class="ct-footer">
            <div class="ct-row">
              <div class="ct-cell">
                <div class="ct-footer-cta-wrapper">
                  <a href="/billing/free" class="btn-primary ct-cta-button"
                    >Choose</a
                  >
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-footer-cta-wrapper">
                  <a href="/billing/basic" class="btn-primary ct-cta-button"
                    >Choose</a
                  >
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-footer-cta-wrapper">
                  <a href="/billing/pro" class="btn-primary ct-cta-button"
                    >Choose</a
                  >
                </div>
              </div>
              <div class="ct-cell">
                <div class="ct-footer-cta-wrapper">
                  <a href="/billing/flexi" class="btn-primary ct-cta-button"
                    >Choose</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /features -->" | safeHTML }}
