<div class="primary-nav-faux"></div>
<header class="header primary-nav bg-pale-blue">

  <div class="container">
    <div class="row header-row">
      <div class="nav-col col-sm-12">
        <div class="nav-band d-flex justify-content-between align-items-center">
          <div class="nav nav-left">
            <div class="logo">
              <a href="{{ .Site.BaseURL }}" class="logo-anchor no-line">
                <img src="{{ .Site.BaseURL }}images/logo-classic.svg" class="logo-image" alt="" /> Distill.io
              </a>
            </div>
          </div>
          <div class="nav nav-right">
            <nav class="mobile-nav d-lg-none">
              <ul class="mobile-nav-inner">
                <li class="nav-item">
                  <a href="{{ .Site.Params.siteURL }}#extensions-section" class="nav-btn btn-primary">Get started</a>
                </li>
              </ul>
            </nav>

            <div class="hamburger">
              <div class="hamburger-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>

            <nav class="main-nav nav-links-container">
              <div class="main-nav-flex-row d-flex flex-column">
                <ul class="main-nav-inner nav-col-padding">
                  <li class="nav-item">
                    <a href="{{ .Site.BaseURL }}blog" class="nav-link grey-hover">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ .Site.BaseURL }}docs" class="nav-link grey-hover">Docs</a>
                  </li>
                </ul>
                <div class="d-lg-none nav-col-padding">
                  <a href="{{ .Site.Params.siteURL }}#extensions-section" class="btn-primary full-w">Get started for free</a>
                </div>
              </div>
              <div class="d-lg-none nav-social-media nav-col-padding pad-bt-20">
                <ul class="users-social-media d-flex align-items-center justify-content-center justify-content-lg-start">    
                  {{ range .Site.Params.socialIcon }}
                    <li><a href="{{ .linkURL }}" class="no-line"><i class="{{ .icon }}"></i></a></li>
                  {{ end }}
                </ul>
              </div>
            </nav>

          </div>
        </div>
      </div>
    </div>
  </div>

</header>
