{{ "<!-- pricing -->" | safeHTML }}
<section class="feature-section nav-tab-section my-5 py-5" id="others">
  <div class="container">
    <div class="row txt-center justify-content-center">
      <div class="col-12 col-md-10"><h2>{{.Params.pricingtitle}}</h2></div>
      <p class="h5 mr-b-80">
        {{.Params.pricingdesc}}
      </p>
    </div>

    <section class="pricing-table-wrapper">
      <div class="ct-header-wrapper-faux" style=""></div>
      <div class="ct-header-wrapper" style="">
        <div class="container ct-header-container">
          <div class="row">
            <div class="col-sm-12">
              <div class="ct-header">
                <div class="ct-row">
                  {{ range .Params.pricingpackage}}
                    <div class="ct-cell txt-center">
                      <h4>{{ .name }}</h4>
                      <p class="h4 txt-green">
                        $<span data-monthly-price="0" data-annual-price="0"
                          >{{ .price }}</span
                        >
                      </p>
                      <p class="p-small mr-b-10">
                        {{ .desc }}
                      </p>
                    </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container ct-body-container">
        <div class="row">
          <div class="col-sm-12">
            <div class="pricing-table">
              <div
                class="ct-body js-badger-accordion badger-accordion--initialized"
                role="presentation"
              >
              <div class="ct-row">
              {{ range .Params.pricingdetails }}
                <div class="ct-cell ct-collapse-group">
                    <div
                      class="ct-cell-toggle js-badger-accordion-header"
                      id="badger-accordion-header-731210"
                      aria-controls="badger-accordion-panel-731210"
                      aria-label="Open accordion panel"
                      data-badger-accordion-header-id="0"
                      aria-expanded="false"
                    >
                      <p class="ct-cell-text">{{ .name }}</p>
                    </div>
                    <div
                      class="badger-accordion__panel js-badger-accordion-panel -ba-is-hidden"
                      id="badger-accordion-panel-731210"
                      aria-labeledby="badger-accordion-header-731210"
                      role="region"
                      style="max-height: 119px"
                    >
                      <div
                        class="badger-accordion-inner-contents js-badger-accordion-panel-inner"
                      >
                        <p>
                          Run checks on our servers, so you get updates 24 x 7.
                          Run checks using browser to get ultra fast checks.
                          Limited monitors available, based on your plan.
                        </p>
                      </div>
                    </div>
                  </div>
                  {{ range .pricingvalues }}
                    <div class="ct-cell">
                      <div class="ct-option">
                        <p>{{ .value }}</p>
                      </div>
                    </div>
                {{ end }}
              {{ end }}
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

{{ "<!-- /pricing -->" | safeHTML }}
