{{ define "main" }}

{{ $styles := resources.Get "css/faq.css" | minify}}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
<style>
  #contactSec {
    padding: 100px 20px 150px 20px;
  }
  #faqSec {
    padding: 100px 0 40px 0;
    }
  .kbSecTitle {
    font-size: 4.5rem !important;
  }
  #accordion {
    text-align: left;
    padding: 0 17%;
  }
  #blankSec {
    height: 100px;
  }
  .titlePad {
    margin-bottom:60px !important;
  }
  #ctaSec {
    padding-bottom: 40px;
  }

  @media screen and (max-width:600px) {
    #contactSec {
      padding: 50px 20px 100px 20px;
    }
    #faqSec {
      padding: 50px 0px 40px 0px;
    }
    .kbSecTitle {
      font-size: 2.8rem !important;
    }
    #accordion {
      text-align: left;
      padding: 0 0 5% 0;
    }
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #blankSec {
      height: 60px;
    }
    .titlePad {
      margin-bottom:40px !important;
    }
    #ctaSec {
      padding-bottom: 20px;
    }
  }
</style>

  {{ partial "features.html" . }}

  {{ partial "terminal.html" . }}

  {{ partial "pricing.html" . }}

  {{ if .Site.Params.cta.enable }}
  {{ "<!-- call to action -->" | safeHTML }}
  <section class="bg-gray" id="ctaSec">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="contactSec" class="section bg-white shadow text-center">
          {{ with .Site.Params.cta.title }} <h2 class="mb-4 kbSecTitle">{{ . }}</h2> {{ end }}
          {{ with .Site.Params.cta.description }} <p style="line-height: 1.8;color:#636363;" class="mb-4">{{ . }}</p> {{ end }}
          <a href="{{ .Site.Params.siteURL }}kb/help/contact-us/" class="btn btn-primary">{{ with .Site.Params.cta.btnText}}{{ . }}{{ end }}</a>
          <div style="margin-top: 20px;">
            <div class="droplet-container"><div class="container"> <img style="margin-top: -3.2%;margin-left: 8%;float: left;" src="{{ .Site.BaseURL }}images/droplets/droplet-coffee.svg" class="faq-hero-droplet droplet-question"></div></div>
            <div class="droplet-container"><div class="container"> <img style="margin-top: -3.2%;margin-right: 8%;float: right;" src="{{ .Site.BaseURL }}images/droplets/droplet-headphones.svg" class="faq-hero-droplet droplet-question"></div></div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /call to action -->" | safeHTML }}
  {{ end }}

{{ end }}
